@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS custom Style and Using this style whatever i want */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
.my-container {
    @apply px-3 py-2 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-4 lg:px-4 lg:py-5;
}

@layer components {
    .btn-component {
        @apply inline-flex items-center h-12 px-6 mb-3 font-medium text-white transition duration-200 rounded shadow-md  md:mb-0 bg-blue-400 hover:bg-blue-700;
    }
}

.hover-stroke {
    position: relative;
    display: inline-block;
}

.hover-stroke::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    transition: all 0.3s ease-in-out;
}

.hover-stroke:hover::after {
    color: transparent;
    -webkit-text-stroke-color: white;
    text-stroke-color: white;
}

.active {
    @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400;
}

.default {
    @apply font-medium tracking-wide text-red-600 transition-colors duration-200 hover:text-blue-400;
}
.card {
    position: relative;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: red;
    transition: width 0.5s ease-in-out;
}

.card:hover .textred {
    color: red;
}

.card:hover .progress-bar {
    width: 100%;
}
